body {
	overflow: hidden;
}
h3 {
	text-align: center;
	padding: 1%;
}
li {
	list-style: none;
}
a {
	color: black;
	text-decoration: none;
}

.win01 {
	position: absolute;
	width: 18%;
	height: 28%;
	left: 2%;
	top: 10%;
	background-image: url("images/1c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win01:hover {
    background-image: url("images/1o.jpg");
}
.dow01 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 37%;
	top: 20%;
	background-image: url("images/1o.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.dow01:hover {
	background-image: url("images/ii.jpg");

}

.win02 {
	position: absolute;
	width: 17%;
	height: 14%;
	left: 2%;
	top: 42%;
	background-image: url("images/2c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win02:hover {
    background-image: url("images/2o.jpg");
}
.dow02 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 25%;
	top: 18%;
	background-image: url("images/2c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.audio02 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 25%;
	top: 18%;
	background-image: url("images/2o.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}

.win03 {
	position: absolute;
	width: 45%;
	height: 40%;
	left: 2%;
	top: 58.3%;
	background-image: url("images/3c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win03:hover {
    background-image: url("images/3o.jpg");
}
.dnwm {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 25%;
	top: 20%;
	background-image: url(images/3c.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image 0.2s ease-in-out;
}
.dnwm:hover {
  /* 마우스 오버 시 변경될 이미지 파일 경로를 지정 (이미지2) */
  background-image: url('images/3o.jpg'); 
}

.win04 {
	position: absolute;
	width: 36%;
	height: 43%;
	left: 14%;
	top: 10%;
	background-image: url("images/4c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win04:hover {
    background-image: url("images/4o.jpg");
}
.dow04 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 38%;
	top: 18%;
	background-image: url("images/4c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.audio04 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 38%;
	top: 18%;
	background-image: url("images/4o.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}

.win05 {
	position: absolute;
	width: 45%;
	height: 42%;
	left: 30%;
	top: 10%;
	background-image: url("images/5c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win05:hover {
    background-image: url("images/5o.jpg");
}
.dow05 {
	position: relative;
	width: 75%;
	left: 12.5%;
}
.dow05 img {
	width: 100%;
	display: block;
	transform-origin: center center;
}
.dow05:hover img {
	animation: window-shake 0.4s ease-in-out infinite;
}
@keyframes window-shake {
	0% { transform: scale(1) translate(0, 0); }
	25% { transform: scale(1.01) translate(1px, -1px); }
	50% { transform: scale(0.995) translate(-1px, 1px); }
	75% { transform: scale(1.005) translate(1px, 0); }
	100% { transform: scale(1) translate(0, 0); }
}

.win06 {
	position: absolute;
	width: 16%;
	height: 20%;
	left: 33%;
	top: 54%;
	background-image: url("images/6c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win06:hover {
    background-image: url("images/6o.jpg");
}
.dow06 {
	position: absolute;
	width: 70%;
	height: 50%;
	left: 22.3%;
	top: 23%;
	background-image: url("images/d06.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.d06 {
	position: absolute;
	width: 70%;
	height: 50%;
	left: 22.3%;
	top: 23%;
	background-image: url("images/do06.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.do06 {
	position: absolute;
	width: 70%;
	height: 50%;
	left: 22.3%;
	top: 23%;
	background-image: url("images/6c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}

.win07 {
	position: absolute;
	width: 25%;
	height: 40%;
	left: 30%;
	top: 70%;
	background-image: url("images/7c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win07:hover {
    background-image: url("images/7o.jpg");
}
.slider {
	position: absolute;
	width: 53%;
	height: 85%;
	top: 10%;
	left: 23.5%;
	overflow: hidden;
}
.slider img {
	position: absolute;
	width: 53%;
	height: 85%;
	left: 23.5%;
	top: 10%;
	opacity: 0;
	animation: fadeSlide 10s infinite;
}
.slider img:nth-child(1) {animation-delay: 0s;}
.slider img:nth-child(2) {animation-delay: 1s;}
.slider img:nth-child(3) {animation-delay: 2s;}
.slider img:nth-child(4) {animation-delay: 3s;}
.slider img:nth-child(5) {animation-delay: 4s;}
.slider img:nth-child(6) {animation-delay: 5s;}
.slider img:nth-child(7) {animation-delay: 6s;}
.slider img:nth-child(8) {animation-delay: 7s;}
.slider img:nth-child(9) {animation-delay: 8s;}
.slider img:nth-child(10) {animation-delay: 9s;}
.slider img:nth-child(11) {animation-delay: 10s;}

@keyframes fadeSlide {
	0% { opacity: 0; }
	5% { opacity: 1; }
	25% { opacity: 1; }
	50% { opacity: 1; }
	75% { opacity:0; }
	100% { opacity: 0; }
}

.win08 {
	position: absolute;
	width: 25%;
	height: 32%;
	left: 56%;
	top: 66.2%;
	background-image: url("images/8c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win08:hover {
    background-image: url("images/8o.jpg");
}
.dow08 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 36.5%;
	top: 20%;
	background-image: url("images/8c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.dow08:hover {
	background-image: url("images/color.jpg");

}

.win09 {
	position: absolute;
	width: 23%;
	height: 30%;
	left: 76%;
	top: 10%;
	background-image: url("images/9c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win09:hover {
    background-image: url("images/9o.jpg");
}
.dow09 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 10%;
	top: 20%;
	background-image: url("images/9c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.dow09:hover {
	background-image: url("images/ttt.jpg");

}

.win10 {
	position: absolute;
	width: 18%;
	height: 24%;
	left: 74%;
	top: 33%;
	background-image: url("images/10c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win10:hover {
    background-image: url("images/10o.jpg");
}
.dow10 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 36%;
	top: 18%;
	background-image: url("images/10c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.audio10 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 36%;
	top: 18%;
	background-image: url("images/10o.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}

.win11 {
	position: absolute;
	width: 21%;
	height: 24%;
	left: 70%;
	top: 58.5%;
	background-image: url("images/11c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win11:hover {
    background-image: url("images/11o.jpg");
}
.dow11 {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 31.3%;
	top: 20%;
	background-image: url("images/nc.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.dow11:hover {
	background-image: url("images/11o.jpg");

}

.win12 {
	position: absolute;
	width: 20%;
	height: 14%;
	left: 70%;
	top: 84.3%;
	background-image: url("images/12c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win12:hover {
    background-image: url("images/12o.jpg");
}
.dow12 {
	position: absolute;
	width: 70%;
	height: 50%;
	left: 19%;
	top: 23%;
	background-image: url("images/12c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.cat12 {
	position: absolute;
	width: 70%;
	height: 50%;
	left: 19%;
	top: 23%;
	background-image: url("images/cat12o.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}

.win13 {
	position: absolute;
	width: 20%;
	height: 20%;
	left: 84.5%;
	top: 35%;
	background-image: url("images/13c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win13:hover {
    background-image: url("images/13o.jpg");
}
.weather {
	position: absolute;
	width: 80%;
	height: 70%;
	left: 24%;
	top: 20%;
	background-image: url(images/13c.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	transition: background-image 0.2s ease-in-out;
}
.weather:hover {
  background-image: url('images/13o.jpg'); 
}

.win14 {
	position: absolute;
	width: 20%;
	height: 40%;
	left: 89.5%;
	top: 58.2%;
	background-image: url("images/14c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.win14:hover {
    background-image: url("images/14o.jpg");
}
.dow14 {
	position: absolute;
	width: 50%;
	height: 75%;
	left: 41%;
	top: 19%;
	background-image: url("images/14c.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.cat14 {
	position: absolute;
	width: 50%;
	height: 75%;
	left: 41%;
	top: 19%;
	background-image: url("images/cat.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.cat142 {
	position: absolute;
	width: 50%;
	height: 75%;
	left: 41%;
	top: 19%;
	background-image: url("images/cat2.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}
.cat1422 {
	position: absolute;
	width: 50%;
	height: 75%;
	left: 41%;
	top: 19%;
	background-image: url("images/cat3.jpg");
	background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
	body {
		overflow-y: auto;
	}

	.win01 {
		background-image: url("images/1c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 50%;
		height: 78%;
		left: 25%;
		top: 10%;
	}
	.win01:active {
    	background-image: url("images/1o.jpg");
	}
	.dow01 {
		position: absolute;
		width: 80%;
		height: 70%;
		left: 10%;
		top: 15%;
		background-image: url("images/1o.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.dow01:active {
		background-image: url("images/ii.jpg");

	}

	.win02 {
		background-image: url("images/2c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 70%;
		height: 50%;
		left: 15%;
		top: 60%;
	}
	.win02:active {
    	background-image: url("images/2o.jpg");
	}
	.dow02 {
		position: absolute;
		width: 80%;
		height: 70%;
		left: 10%;
		top: 30%;
		background-image: url("images/2c.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.audio02 {
		position: absolute;
		width: 80%;
		height: 70%;
		left: 10%;
		top: 30%;
		background-image: url("images/2o.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}

	.win03 {
		background-image: url("images/3c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 70%;
		height: 50%;
		left: 15%;
		top: 95%;
	}
	.win03:active {
    	background-image: url("images/3o.jpg");
	}
	.dnwm {
		position: absolute;
		width: 80%;
		height: 50%;
		left: 10%;
		top: 30%;
		background-image: url(images/3c.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		transition: background-image 0.2s ease-in-out;
	}
	.dnwm:active {
  		background-image: url('images/3o.jpg'); 
	}

	.win04 {
		background-image: url("images/4c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 50%;
		height: 70%;
		left: 25%;
		top: 132%;
	}
	.win04:active {
    	background-image: url("images/4o.jpg");
	}
	.dow04 {
		position: absolute;
		width: 70%;
		height: 80%;
		left: 15%;
		top: 20%;
		background-image: url("images/4c.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.audio04 {
		position: absolute;
		width: 70%;
		height: 80%;
		left: 15%;
		top: 20%;
		background-image: url("images/4o.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}

	.win05 {
		background-image: url("images/5c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 75%;
		height: 55%;
		left: 12.5%;
		top: 182%;
	}
	.win05:active {
    	background-image: url("images/5o.jpg");
	}
	.dow05 {
		position: relative;
		width: 75%;
		left: 12.5%;
	}
	.dow05 img {
		width: 100%;
		display: block;
		transform-origin: center center;
	}
	.dow05:active img {
		animation: window-shake 0.4s ease-in-out infinite;
	}
	@keyframes window-shake {
		0% { transform: scale(1) translate(0, 0); }
		25% { transform: scale(1.01) translate(1px, -1px); }
		50% { transform: scale(0.995) translate(-1px, 1px); }
		75% { transform: scale(1.005) translate(1px, 0); }
		100% { transform: scale(1) translate(0, 0); }
	}

	.win06 {
		background-image: url("images/6c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 70%;
		height: 50%;
		left: 15%;
		top: 210%;
	}
	.win06:active {
    	background-image: url("images/6o.jpg");
	}
	.dow06 {
		position: absolute;
		width: 70%;
		height: 50%;
		left: 15%;
		top: 30%;
		background-image: url("images/d06.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.d06 {
		position: absolute;
		width: 70%;
		height: 50%;
		left: 15%;
		top: 30%;
		background-image: url("images/do06.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.do06 {
		position: absolute;
		width: 70%;
		height: 50%;
		left: 15%;
		top: 30%;
		background-image: url("images/6c.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}

	.win07 {
		background-image: url("images/7c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 70%;
		height: 50%;
		left: 15%;
		top: 235%;
	}
	.win07:active {
    	background-image: url("images/7o.jpg");
	}
	.slider {
		position: absolute;
		width: 70%;
		height: 75%;
		top: 13%;
		left: 10%;
		overflow: hidden;
	}
	.slider img {
		position: absolute;
		width: 70%;
		height: 75%;
		left: 23.5%;
		top: 10%;
		opacity: 0;
		animation: fadeSlide 10s infinite;
	}
	.slider img:nth-child(1) {animation-delay: 0s;}
	.slider img:nth-child(2) {animation-delay: 1s;}
	.slider img:nth-child(3) {animation-delay: 2s;}
	.slider img:nth-child(4) {animation-delay: 3s;}
	.slider img:nth-child(5) {animation-delay: 4s;}
	.slider img:nth-child(6) {animation-delay: 5s;}
	.slider img:nth-child(7) {animation-delay: 6s;}
	.slider img:nth-child(8) {animation-delay: 7s;}
	.slider img:nth-child(9) {animation-delay: 8s;}
	.slider img:nth-child(10) {animation-delay: 9s;}
	.slider img:nth-child(11) {animation-delay: 10s;}

	@keyframes fadeSlide {
		0% { opacity: 0; }
		5% { opacity: 1; }
		25% { opacity: 1; }
		50% { opacity: 1; }
		75% { opacity:0; }
		100% { opacity: 0; }
	}

	.win08 {
		background-image: url("images/8c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 50%;
		height: 70%;
		left: 25%;
		top: 265%;
	}
	.win08:active {
    	background-image: url("images/8o.jpg");
	}
	.dow08 {
		position: absolute;
		width: 80%;
		height: 70%;
		left: 10%;
		top: 20%;
		background-image: url("images/8c.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.dow08:active {
		background-image: url("images/color.jpg");

	}

	.win09 {
		background-image: url("images/9c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 70%;
		height: 50%;
		left: 15%;
		top: 310%;
	}
	.win09:active {
    	background-image: url("images/9o.jpg");
	}
	.dow09 {
		position: absolute;
		width: 80%;
		height: 40%;
		left: 10%;
		top: 30%;
		background-image: url("images/9c.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.dow09:active {
		background-image: url("images/ttt.jpg");

	}

	.win10 {
		background-image: url("images/10c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 50%;
		height: 70%;
		left: 25%;
		top: 335%;
	}
	.win10:active {
    	background-image: url("images/10o.jpg");
	}
	.dow10 {
		position: absolute;
		width: 80%;
		height: 70%;
		left: 10%;
		top: 18%;
		background-image: url("images/10c.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.audio10 {
		position: absolute;
		width: 80%;
		height: 70%;
		left: 10%;
		top: 18%;
		background-image: url("images/10o.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}

	.win11 {
		background-image: url("images/11c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 50%;
		height: 50%;
		left: 25%;
		top: 380%;
	}
	.win11:active {
    	background-image: url("images/11o.jpg");
	}
	.dow11 {
		position: absolute;
		width: 80%;
		height: 70%;
		left: 10%;
		top: 20%;
		background-image: url("images/nc.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.dow11:active {
		background-image: url("images/11o.jpg");
	}

	.win12 {
		background-image: url("images/12c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 70%;
		height: 50%;
		left: 15%;
		top: 414%;
	}
	.win12:active {
    	background-image: url("images/12o.jpg");
	}
	.dow12 {
		position: absolute;
		width: 70%;
		height: 50%;
		left: 15%;
		top: 30%;
		background-image: url("images/12c.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.cat12 {
		position: absolute;
		width: 70%;
		height: 50%;
		left: 15%;
		top: 30%;
		background-image: url("images/cat12o.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}

	.win13 {
		background-image: url("images/13c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 70%;
		height: 50%;
		left: 15%;
		top: 438%;
	}
	.win13:active {
    	background-image: url("images/13o.jpg");
	}
	.weather {
		position: absolute;
		width: 80%;
		height: 70%;
		left: 10%;
		top: 20%;
		background-image: url(images/13c.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		transition: background-image 0.2s ease-in-out;
	}
	.weather:hover {
	  /* 마우스 오버 시 변경될 이미지 파일 경로를 지정 (이미지2) */
	  background-image: url('images/13o.jpg'); 
	}

	.win14 {
		background-image: url("images/14c.jpg");
		display: flex;
		flex-direction: row;
		position: absolute;
	    width: 50%;
		height: 70%;
		left: 25%;
		top: 475%;
	}
	.win14:active {
    	background-image: url("images/14o.jpg");
	}
	.dow14 {
		position: absolute;
		width: 50%;
		height: 75%;
		left: 25%;
		top: 19%;
		background-image: url("images/14c.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.cat14 {
		position: absolute;
		width: 50%;
		height: 75%;
		left: 25%;
		top: 19%;
		background-image: url("images/cat.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.cat142 {
		position: absolute;
		width: 50%;
		height: 75%;
		left: 25%;
		top: 19%;
		background-image: url("images/cat2.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}
	.cat1422 {
		position: absolute;
		width: 50%;
		height: 75%;
		left: 25%;
		top: 19%;
		background-image: url("images/cat3.jpg");
		background-size: contain;
	    background-repeat: no-repeat;
	}


}









